.home-page {
  display: flex;
  flex-direction: column;
}

.divider-wrapper {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.divider {
  border: 0;
  border-top: 1px solid var(--color-divider);
  margin: 0;
}

@media (min-width: 1024px) {
  .divider-wrapper {
    margin: 0 auto;
  }
}
